.slider {
   position: relative;

   &__wrapper {
      position: relative;
      z-index: 1;
      overflow: hidden;
   }
   &__track {
      position: relative;
      top: 0;
      left: 0;
      display: flex;
   }
   &__slide {
      flex-shrink: 0;
      padding: 0 20px;

   }
   &__control {
      position: absolute;
      top: 50%;
      z-index: 1;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
   }
   &__control--prev {
      transform: translateY(-50%);
      &:active {
         transform: translateY(-50%) ;
      }
   }
   &__control--next {
      transform: translateY(-50%) rotateZ(180deg);
      &:active {
         transform: translateY(-50%) rotateZ(180deg);
      }
   }
   &__dots {
      display: flex;
      gap: 6px;
      justify-content: center;
   }
   &__dot {
      width: 14px;
      height: 14px;
      background-color: transparent;
      border: 1px solid #0d83aa;
      border-radius: 50%;
      &.active {
         background-color: #0d83aa;
      }
   }
}